<!DOCTYPE html>
<html ng-app="weatherShowcaseApp">
<head>
    <meta charset="utf-8"/>
    <title>Weather Widget</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="js/weatherWidget.js" type="text/javascript"></script>
    <link rel="stylesheet" href="css/weatherWidgetStyles.css"/>
<body>
<div class="weatherWrapper" ng-controller="weatherWidgetController">
    <div class="weather_container weather-widget">
        <input type="text" ng-model="townToSearchFor"/>
        <button ng-click="getWeather(townToSearchFor)" ng-disabled="!townToSearchFor">Get Weather!</button>
        <div class="location">

            <span class="city">{{searchedCity}} </span>

            <div class="temperature">
                <span class="number">{{temperatureInDegree}}</span>
                <span class="marks"> <span class="degrees">{{degreeSymbol}}</span>
                </span>
            </div>
        </div>
        <div class="condition">
            <!--dynamic position of the image-->
            <span class="weatherIcon" ng-style="{'background-position':position1}"></span>

            <div class="weatherInfo">
                <span>{{temperaturecondition}}</span>
            </div>
        </div>
        <div class="dailyWeather">
            <!--repeat will show only the first 5 days out of all results from the service , we can vary this-->
            <div class="whichDay" data-ng-repeat="weatherReport in weatherResults">
                <div class="tooltip" ng-class="{'borderSeparation':!$last}">
                    <span class="weatherInfo">{{weatherReport.main.temp_max}}/{{weatherReport.main.temp_min}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/angular.min.js"></script>
<script src="js/weatherWidget.js"></script>
</body>
</html>